
<div class="text-center mx-auto mt-3 mb-3">
<h1></h1>

      <div class="jumbotron text-white rounded bg-info" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Bienvenue sur EventbriteLike mon ami(e) !</h1>
          <p class="lead my-3">Si tu veux savoir quand seras la prochaine fête du ricard dans ta ville, c'est par ici que ca se passe !</p>
          <p class="text-white font-weight-bold" lead mb-0">Tu peux consulter les évènements ci-dessous</p>
        </div>
      </div>

<h4></h4>
</div>

<% if Event.find(1) == nil %>
<div class="row mx-auto">
  <% Event.all.sort.each do |event| %>
      <div class="col-lg-4 col-sm-6 portfolio-item mx-auto mt-3 mb-3">
        <div class="card h-100">
          <div class="card-img-top" >
          <%if event.event_image.attached?%>
            <%= image_tag event.event_image, alt: 'event_image', class:"bd-placeholder-img card-img-top", :size=>"200x200" %>
          <%else%>
            <% event.event_image.attach(io: File.open("app/assets/images/event_pic2.jpg"), filename: "event_pic2.jpg", content_type: "image/jpg") %>
            <%= image_tag event.event_image, alt: 'event_image', class:"bd-placeholder-img card-img-top" %>
          <% end %>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">
              <a href="<%=event_path(event.id)%>"> Event n°<%= event.id %></a>
            </h4>
            <p class="card-text text-center"><%= event.title %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<% else %>
  <p>Il n'y a pas encore d'évènement</p>
<% end %>
